.tablecontainer {
  background-color: wheat;
  border-radius: 10px;
}
.tableItem {
  text-align: center;
}
.nodata {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
}
