.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(233, 231, 231);
  padding: 0px 15px;
}
.totalsection {
  margin: 30px 0px;
  font-weight: 700;
}
.headtitle {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 500;
}
